doctype html
html
  head
  body
    form(action='/analyse', method='post', enctype='application/json')
      label
        | Repository Link:  
        input(type='text', name='repoURL')
      input(type='submit', value='Submit')
