doctype html
html
  head
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js')
  body
    canvas#bar-chart(style='position: absolute; left: 0px; top: 0px;', height=1000)
    script.
      new Chart(document.getElementById("bar-chart"), !{chartOptions});
